<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title
	th:text="|${#temporals.format(date, 'yyyy/M/d')}の${room.roomName}|">2016/5/20の豊洲</title>
</head>
<body>
	<div class="container">
		<div class="title">予約登録</div>
		<div class="control">
			<p style="color: red; font-weight: bold;" th:if="${error != null}" th:text="${error}"></p>
		</div>
		<div class="columns is-multiline is-mobile">
			<div class="column is-half">
				<div>
					<form th:object="${reservationForm}"
			  			th:action="@{'/reservations/' + ${date} + '/' + ${roomId}}"
		  				method="post" name="form">
		  				<div class="field">
	  						<label class="label">会議室</label>
  							<div class="control">
  								<span th:text="|${room.roomName}|"></span>
  							</div>
						</div>
			  			<div class="field">
  							<label class="label">予約者名</label>
  							<div class="control">
    							<span th:text="|${#authentication.principal.user.firstName} ${#authentication.principal.user.lastName}|"></span>
  							</div>
						</div>
			  			<div class="field">
  							<label class="label">日付</label>
  							<div class="control">
    							<span th:text="|${#temporals.format(date, 'yyyy/M/d')}|"></span>
  							</div>
						</div>
						<div class="control">
							<label class="label">時間帯</label>
							<div class="select">
								<select th:field="*{startTime}">
									<option th:each="time : ${timeList}" th:text="${time}" th:value="${time}">09:00</option>
								</select>
								<span th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}" style="color: red">error!</span>
							</div>
							<span>-</span>
							<div class="select">
								<select th:field="*{endTime}">
									<option th:each="time : ${timeList}" th:text="${time}" th:value="${time}">10:00</option>
								</select>
								<span th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}" style="color: red">error!</span>
							</div>
						</div>
					</form>
				</div>
				<div style="margin-top: 20px;">
					<div class="field is-grouped">
  						<p class="control">
    						<a class="button is-primary is-light" href="#" onclick="javascript:form.submit();">
      						予約
    						</a>
  						</p>
  						<p class="control">
    						<a class="button is-link is-light" href="#" th:href="@{'/reservations/rooms/' + ${date}}">
      						会議室一覧へ
    						</a>
  						</p>
					</div>
				</div>
			</div>
			<div class="column is-half">
				<div class="field">
					<label class="label">予約済一覧</label>
  					<div class="control">
						<table class="table">
							<tr>
								<th>時間帯</th>
								<th>予約者</th>
								<th>操作</th>
							</tr>
							<tr th:each="reservation : ${reservations}">
								<td>
									<span th:text="${reservation.startTime}" ></span>
									-
									<span th:text="${reservation.endTime}" ></span>
								</td>
								<td>
									<span th:text="${reservation.user.firstName}" ></span>
									<span th:text="${reservation.user.lastName}" ></span>
								</td>
								<td>
									<form th:action="@{'/reservations/' + ${date} + '/' + ${roomId}}"
								  		method="post"
								  		sec:authorize="${hasRole('ADMIN') or principal.user.userId == #vars.reservation.user.userId}">
										<input type="hidden" name="reservationId" th:value="${reservation.reservationId}" />
										<input class="button is-small is-danger is-light" type="submit" name="cancel" value="取消" />
									</form>
								</td>
							</tr>
						</table>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>